@import url('https://fonts.googleapis.com/css2?family=Lato|Raleway');

body {
    
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

}

.centered {
    text-align: center;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.r {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.logo338 {
    width: 100%;
    height: 130px;
    float: left;
    padding-left: 50px;
}
#brand-name {
    float: left;
    padding-left: 25px;
    padding-top: 50px;
    font-size: 30px;
}

.userinfo {
    float: left;
    padding-left: 70px;
}

#imglogo338 {
    max-width:80px;
    float: left;
}

.navmenu {
    padding-top: 190px;
}

#login {
    padding-top: 100px;
    padding-left: 45%;
}