@import url('https://fonts.googleapis.com/css2?family=Lato|Raleway');

body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    margin-top: 70px;
}

.centered {
    text-align: center;
}

a:hover, a:focus{
    color: 7b7b7b;
    text-decoration: none;
    outline: 0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.r {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    float: right;
}