{% extends 'base.html' %}
{% block content %}
    {% if close_another_requestHelp %}
        <div class="centered">
            <h3>Невозможно закрыть заявку, т.к. Вы не являетесь создателем заявки <a href={% url "detailRequestHelp" request_number %}>{{request_number}}</a>.</h3>
        </div>
    {% endif %}
    {% if userDetail_userNotFound %}
        <h3>Пользователь не обнаружен!</h3>
    {% endif %}
    {% if role_not_exist %}
        <div class="centered">
            <h3>Вы не состоите ни в одной группе</h3>
        </div>
    {% endif %}
    {% if userAdd_userNotFound %}
        <h3>Пользователь не обнаружен!</h3>
    {% endif %}
{% endblock %}